@import 'node_modules/reset-css/sass/_reset.scss';

body {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.main-box {
    display: flex;
    align-items: flex-start;
    padding: 0 15px;

    @media (max-width: 767px) {
        flex-direction: column;
    }
    
    #form {
        width: 400px;
        margin-right: 46px;

        @media (max-width: 767px) {
            max-width: 100%;
            margin-right: 0;
        }

        h1 {
            font-family: 'Arial', sans-serif;
            font-size: 20px;
            line-height: 21px;
            margin-bottom: 8px;
            color: #000000;
        }

        .form-control {
            display: flex;
            flex-direction: column;
            margin-bottom: 23px;

            label {
                font-family: 'Arial', sans-serif;
                font-size: 16px;
                line-height: 21px;
                color: #000000;
            }

            input {
                height: 21px;
                border: 1px solid #000000;
            }

            textarea {
                height: 153px;
                border: 1px solid #000000;
            }
        }

        .buttom-control {
            input[type="submit"] {
                width: 100%;
                border: none;
                height: 41px;
                background: #C4C4C4;
                font-family: 'Arial', sans-serif;
                font-size: 16px;
                line-height: 21px;
                color: #000000;
                cursor: pointer;
            }
        }
    }

    #canvas-preview {
        background-image: url(../assets/imgs/fundo_canvas.PNG);
        background-size: contain;
        
        @media (max-width: 767px) {
            margin-top: 40px;
        }
    }
}


